@{
    ViewData["Title"] = "Inicio";
}

<style>
    .btn-block {
        padding: 10% 0;
    }

    .responsive-width {
        font-size: 2vw;
    }
</style>

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2>Formatos Medicos</h2>
    </div>
</div>

<div class="container">
    <div class="jumbotron row">
        <div class="col-xs-6">
            <center>
                <a asp-controller="Home" asp-action="Upload" type="button" class="btn btn-primary btn-block responsive-width">Subir Documento</a>
            </center>
        </div>
        <div class="col-xs-6">
            <center>
                <a asp-controller="Home" asp-action="Search" type="button" class="btn btn-primary btn-block responsive-width">Buscar Documento</a>
            </center>
        </div>
    </div>
</div>